* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { 
  margin: 0;
  font-family: "Gentium Plus";
  padding: 0 ;
}

textarea { 
  font-family: "Gentium Plus";
}

#bar { 
  width: 300px;
  float:left;
  border-right: 2px solid #ccc;
  background: #eeeeee;
  padding: 1em;
}

#bar { 
  font-family: sans-serif;
  font-size: large;
  min-height: 100%;
}

#bar h1 { 
  font-size: small;
}

#bar input#search { 
  width: 90%;
  display:inline-block;
  border: 2px solid #ccc;
  font-size: large;
}

#bar input#search { 

}

#bar .letter {
  font-weight: bold; 
  background: #ccc; 
  border-radius: 5px; 
  padding: 2px 5px;
}

#work { 
  width: auto;
  margin-left: 300px;
  padding: 1em;
}

#editor { 
  width: 90%;
  min-height: 300px;
  display:block;
  border: 1px solid black;
}

#bar .name{
  font-variant: small-caps;
}

#rules { 
  clear:both;
  -moz-column-count: 5;
}

#rules li { 
  list-style-type: none;
}

kbd {  
  background:#ccc;
  border-radius: 10%;
  padding: 2px;
}

#content { 
  overflow:auto;
  padding: 2em;
}

textarea { 
  letter-spacing: 2px;
  font-size: 2em ;
  line-height: 150%;
  width: 40%;
  border: 1px solid black;
  height: 400px;
}

textarea#before {   }

textarea#after { 
  float:right;  
}

