body {
  margin:0;
    padding:0;
   background: url(../images/cardboard.gif);
} 

div#editor {
  border-bottom: 1px solid hsl(39, 50%, 41%);
  width: 100%;
  overflow:auto;
  background: white;
  padding: 1em 0 0 ;
}


#rules {
  font-size:small;
   border: 1px dotted gray;
   overflow: auto;
   padding: 2px;
    width: 10em;
   float:right;
}

#rules strong { 
  margin-left: .5em;
}

#notebook {
  display:block;
  bottom:  0;

  min-height: 500px;
  height: 50%;
  width: 90%;

  margin: 1em auto;

  font-size: 2em ;
  line-height: 150%;

  border: 1px solid black;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;

  background:white;
}

textarea#transliterated, textarea#plain {
  text-align: center;
  padding: .4em;
  width:90%;
  height: 1em;
  overflow-y: hidden;
  display:block;
  margin: 1em auto;
} 

textarea#transliterated {
  font-size: x-large;
}

textarea#plain {
  font-size:normal;
  border: none;
  margin-bottom: 0;
  color: gray;
}
