<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <title>notebook</title>

    <script src=js/jquery.js></script>
    <script src=js/underscore.js></script>
    <script src=js/backbone.js></script>
    <script src=js/subfile.js></script>

    <script src=js/mandarin.js></script>
    <script src=js/notebook.js></script>

    <link rel=stylesheet href=css/style.css > </style>

</head>
<body>

  <div id=editor>
    <textarea id=plain></textarea>
    <textarea id=transliterated></textarea>
  </div>

  <div id=notebook> 
  <ol id=sentences></ol>
  </div><!-- #notebook -->

<script type=text/html id=sentence_template>
  <ol class=sentence>
    <%= sentence %>
    <%= translation %>
  </ol>
</script>

  </body>
</html>






